@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    font-family: sans-serif;
}

.inicio-bg{
    height: 100vh;
    background-color: rgb(232, 236, 238);
}

.inicio-form{
    transform: translateY(-5%);
}


.inicio-form > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    padding: 20px;
}

.inicio-form span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.forms{
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forms p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(98, 96, 96);
}

.bg-grey-light{
    background-color: rgb(230, 230, 230);
}

.img-tabla{
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.caja-tabla{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.form-control{
    border:none;
}


.input-group i{
    color: rgb(105, 105, 105);
}

.input-group .btn{
    border-radius: 0 0;
}

.editar{
  color: blue;
  cursor: pointer;
}

.edicion{
    color: rgba(46, 46, 46, 0.65);
}

.edicion:hover{
    cursor: default;
}

.input-edit{
    border-radius: 10px;
    width: 80px;
    border-collapse: collapse;
    border: 1px solid rgba(74, 74, 74, 0.52);
    text-align: center;
    outline: none;
}

.banner{
    background-color: rgb(31, 31, 129);
}

.banner h2{
    color: rgb(255, 255, 255);
}

.banner h3{
    color: rgb(255, 255, 255);
}

.forms h6{
    display: inline-block;
}

.elem{
    border-bottom: 1px solid rgb(199, 199, 199);
}


@media (max-width: 576px) { 
    
    .inicio-form > h1{
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .inicio-form > h1{
        font-size: 2.1em;
    }
}

@media (max-width: 992px) {
    
    
}

@media (max-width: 1200px) { 
}
